body{
	background-color: #79E5CB;
}
#hello{
	text-align: center;
	color: blue;
}
#ShineeWorld {
	color: green;
}

#hehee{
	text-align: right;
	color: all;

}



/*
	property: value;
	이런식으로 쓰는 것입니당 <3

*/